@model IEnumerable<GeoRef.Models.GeoReferenceDto>

<div class="container p-4">
    <div class="row pt-2">
        <div class="col">
            <h1 class="text-primary">Lista GeoReferencias</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="GeoReferenceCreate" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Nueva GeoReferencia </a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Estados.Descripcion</td>
                    <td>@item.Latitud</td>
                    <td>@item.Longitud</td>
                    <td><a asp-action="GeoReferenceEdit" class="btn btn-success" asp-route-idGeoReference="@item.idGeoreferencia"></a><i class="fas fa-edit"></i></td>
                    <td><a asp-action="GeoReferenceDelete" class="btn btn-danger" asp-route-idGeoReference="@item.idGeoreferencia"></a><i class="fas fa-trash"></i></td>
                </tr>
            }
        </tbody>
    </table>
</div>